.splash-enter-active, .splash-leave-active {
  transition: opacity 1s;
}
.splash-enter, .splash-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
